
.search-bar {

  .search-input {
    width:80%;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: #262626;
    outline: 0;
    padding: 3px 24px 3px 5px;
    z-index: 2;
    margin-top: 1%;
    margin-left: 10%;
  }
  .input-bg {
    width:80%;
    margin:5% 10% 0% 10%;

    i{
      border-radius: 3px;
      color: #6f9954;
      cursor: text;
      font-size: 17px;
      font-weight: 300;
      left: 260px;
      padding: 7px;
      position: absolute;
      text-align: center;
      top: 19px;
      z-index: 2;
    }
  }
}
